#eventi div.grid{
    display:none;
    width:100%
}

#eventi div.grid.show{
    display:table;
    width:100%
}

#eventi form{
    display:none;
}
#eventi form.show{
    display:table;
}

#naviga #partenza{
    display:none;
}

#naviga #partenza.show{
    display:block;
}

/*html,body,#afui,#content,#mappa {height:100%}*/
body {font-family:arial;background-color:white}
#body {height:600px;width:100%}