#eventi div.grid{
    display:none;
    width:100%
}

#eventi div.grid.show{
    display:table;
    width:100%
}

#eventi form{
    display:none;
}
#eventi form.show{
    display:table;
}

body {font-family:arial;background-color:white}
        #body {height:400px;margin:0 -10px}